<!-- fees -->
  {{ with $.Page.Params.feemember }}
    <div style="margin-bottom:25px; padding-left: 10px; padding-right: 10px;">
      <p style="font-weight: bold; font-size: 14px; margin-top:10px; text-transform:uppercase;">registration</p>
      {{ with $.Page.Params.earlybirdexpiration }}
        <p style="font-family: sans-serif; margin-bottom: 5px;">
          <span style="border-bottom:1px solid rgb(37, 103, 189);">Chapter Meeting Fee Policy</span>: 
        </p>
        <p style="font-family: sans-serif; margin-top: 0; margin-bottom: 8px;">
          Member and non-member event registrations purchased more than four (4) business days prior to the event will receive a $10 discount from the regular rate.
        </p>
        <p style="font-family: sans-serif; font-weight: bold;">
          <span style="text-transform: uppercase;">
            Early Bird Registration Deadline</span>:
          <span style="color: rgb(37, 103, 189);"> 
            {{ dateFormat "2 January 2006" . }}
          </span> 
        </p>
      <p style="font-family: sans-serif; margin-bottom: 8px;">
        <span style="border-bottom:1px solid rgb(37, 103, 189);">
          Registration Rates</span>:
      </p>
      {{ end }}
      <p style="margin-top: 0;">
        <span style="font-weight:bold;"><span style="color: rgb(37, 103, 189);">Member:</span> ${{ $.Page.Params.feemember }}</span><br>
        <span style="font-weight:bold;"><span style="color: rgb(37, 103, 189);">Non-Member:</span> ${{ $.Page.Params.feenonmember }}</span>
      </p>
    </div>
  {{ end }}