<!-- date and time -->
  <div style="margin-bottom:25px;">
  <h3 style="color: #333333;">{{ .Title }}</h3>
  <span style="">{{ .Params.subtitle }}</span>

  <p style="margin-top: 8px;">
    <span style="font-weight:bold;"><span style="color: rgb(37, 103, 189); ">{{ .Params.formatteddate }} </span></span> | 
    <span style="font-weight:bold;"><span style="color: rgb(37, 103, 189); "> {{ .Params.formattedtime }}</span></span>
  </p>
  </div>
  {{ if eq .Params.programagenda "yes" }}
    <div style="margin-bottom:25px;">
      <p style="color:rgba(159, 0, 1, 1); margin-top:10px; text-transform:uppercase;">
        <span style="border-bottom: 1px solid;">program agenda</span>
      </p>
      {{ with .Params.session1name }}
        <ul style="list-style-type: none; padding-left: 22px;">
          <li>{{ dateFormat "03:04pm" $.Params.session1time }} <span style="margin-left: 25px; color: rgb(37, 103, 189); text-transform:capitalize;">{{ . }}</span> </li>
      {{ end }}
          {{ with .Params.session2name }}
          <li>{{ dateFormat "03:04pm" $.Params.session2time }} <span style="margin-left: 25px; color: rgb(37, 103, 189); text-transform:capitalize;">{{ . }}</span> </li>
          {{ end }}
          {{ with .Params.session3name }}
            <li>{{ dateFormat "03:04pm" $.Params.session3time }} <span style="margin-left: 25px; color: rgb(37, 103, 189); text-transform:capitalize;">{{ . }}</span> </li>
          {{ end }}

          {{ with .Params.session4name }}
            <li>{{ dateFormat "03:04pm" $.Params.session4time }} <span style="margin-left: 25px; color: rgb(37, 103, 189); text-transform:capitalize;">{{ . }}</span> </li>
          {{ end }}

          {{ with .Params.session5name }}
            <li>{{ dateFormat "03:04pm" $.Params.session5time }} <span style="margin-left: 25px; color: rgb(37, 103, 189); text-transform:capitalize;">{{ . }}</span> </li>
          {{ end }}

          {{ with .Params.session6name }}
            <li>{{ dateFormat "03:04pm" $.Params.session6time }} <span style="margin-left: 25px; color: rgb(37, 103, 189); text-transform:capitalize;">{{ . }}</span> </li>
          {{ end }}
        {{ with .Params.session1name }}
        </ul>
      {{ end }}
    </div>
  {{ end }}