<!-- continuing ed -->
  <div style="margin-bottom:25px;">  
    <p style="margin-top:10px;  font-size: 18px; font-weight:bold; text-transform:uppercase;">
    <span style="background-image: url('https://novashrm.site-ym.com/resource/resmgr/images/page_accent_images/accents2.png'); background-size: auto 16px; background-repeat: no-repeat; background-position: -45.5px center; color: rgb(218, 98, 0); display: inline-block; overflow: none; width: 16px;">&nbsp; </span> continuing education</p>
    <div style="margin-left:20px;">
      {{ if isset .Params "creditsApproved" }}
        This event is <strong>approved</strong> for <strong>{{ index .Params "creditsApprovedBusiness" }}</strong> Business recertification credits through the Human Resource Certification Institute (HRCI).  This event is also <strong>approved</strong> for<strong> {{ index .Params "creditsApprovedGeneral" }}</strong> General recertification credits through the Human Resource Certification Institute (HRCI).  This event is <strong>approved</strong> for <strong>{{ index .Params "creditsApprovedSHRM" }}</strong> recertification credits through the Society for Human Resource Management (SHRM).
      {{else}}
        This program has been submitted to the HR Certification Institute and the Society for Human Resource Management for review.
      {{ end }}
      <br/><span>
        All attendees (member and non-members) may receive HRCI credits, when offered for an event.  
      </span>
    </div>
  </div>