<!-- continuing ed -->
  {{ if eq .Params.ce "yes" }}
    <div style="margin-bottom:25px;">  
      <p style="color:rgba(159, 0, 1, 1); margin-top:10px; text-transform:uppercase;">
        <span style="border-bottom-style: solid; border-bottom-width: 1px;">continuing education</span>
      </p>
      <div style="margin-left: 22px;">
        {{ if eq .Params.cecreditsapproved "True" }}
          This event is <strong>approved</strong> for {{with $.Params.cecredits }}<strong>{{ . }}</strong>{{ end }} {{with $.Params.cecreditstype }}<strong>{{ title . }}</strong>{{ end }} recertification credits through the Human Resource Certification Institute (HRCI) and {{with $.Params.cecredits }}<strong>{{ . }}</strong>{{ end }} Society for Human Resource Management (SHRM) recertification credits.
        {{else}}
          This program has been submitted to the HR Certification Institute and the Society for Human Resource Management for review.
        {{ end }}
        <br/><span>
          All attendees (member and non-members) may receive HRCI credits, when offered for an event.  
        </span>
      </div>
    </div>
  {{ end }}