<!-- location -->
  {{ with .Params.locationnameanddescription }}
  <div style="margin-bottom:25px;">
    <p style="color:rgba(159, 0, 1, 1); margin-top:10px; text-transform:uppercase;">
      <span style="border-bottom: 1px solid;">location</span>
    </p>
    <p style="margin-left: 22px;">
      <span style="padding-bottom: 8px; display: block;">{{ . }} | {{ $.Params.locationfulladdress }}</span><br>
      {{ with $.Params.locationdirections }}
        <!-- directions -->
        <span style="color: rgb(218, 98, 0); display: inline-block;">Directions:</span>&nbsp;
        <span style="color: rgb(102, 102, 102);">
          {{ . }} 
        </span><br>
      {{ end }}
      {{ with $.Params.locationparking }}
        <!-- parking -->
        <span style="color: rgb(218, 98, 0); display: inline-block;">Parking:</span>
        <span style="color: rgb(102, 102, 102); margin-left: 0; padding-left: .5em; text-indent: 20px;"> {{ . }}</span>
      {{ end }}
    </p>
  </div>
  {{ end }}
<!-- online location -->
  {{ with .Params.locationurl }}
  <div style="margin-bottom:25px;">
    <p style="color:rgba(159, 0, 1, 1); margin-top:10px; text-transform:uppercase;">
      <span style="border-bottom: 1px solid;">location</span>
    </p>
    <p style="margin-left: 22px;">
      <span style="padding-bottom: 8px; display: block;">Webinar</span>
        <!-- notice -->
      <span style="color: rgb(218, 98, 0); display: inline-block;">Notice:</span>&nbsp;
      <span style="color: rgb(102, 102, 102);">
        Registrants will be sent the webinar login information in the meeting reminder email prior to the event.
      </span>
    </p>
  </div>
  {{ end }}